<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Sistema Consultório</title>
    <link rel="stylesheet" th:href="@{/Style.css}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap" />
</head>

<body>

    <!-- header com barra de pesquisa **falta adicionar icone de lembrete -->
    <header>
        <img class="logo-mm-1" alt="" src="/images/new-logo-batch---24-high-resolution-logo-transparent 1.svg">
        <img class="logo-2" alt="" src="/images/new-logo-batch---24-high-resolution-logo-transparent 7.svg">
        <input type="text" class="search" placeholder="Pesquisar...">
    </header>

    <!-- nav fixado na esquerda do site **falta adicionar os icones -->
    <section class="nav">
        <nav>
            <ul>
                <li class="linkContainer"><a th:href="@{#}">Dashboard</a></li>
                <li class="linkContainer"><a th:href="@{#agend}">Agenda</a></li>
                <li class="linkContainer"><a th:href="@{#pacient}">Pacientes</a></li>
            </ul>
        </nav>
    </section>

    <main>

        <!-- seção do resumo de informações **falta adicionar os icones -->
        <section class="resumo" id="dash">
            <h2>Dashboard</h2>
            <b>Resumo Geral</b>
            <!-- **falta adicionar as informações do backend -->
            <div class="resSquare">
                <h3>Consultas Hoje</h3>
            </div>
            <div>
                <h3>Próximas consultas</h3>
            </div>
            <div>
                <h3>Novos Pacientes</h3>
            </div>
        </section>

        <!-- Seção da agenda semanal **sem modificações para cobrir todos os meses -->
        <section class="agenda" id="agend">
            <b>Agenda Semanal</b>

            <!-- botão de link para agendamento de consultas **ainda sem funcionalidade - deve criar um popup Com o cadastro da consulta -->
            <button id="NovaCon">Agendar Nova Consulta</button>

            <!-- pop-up de cadastro de consultas -->
            <div class="modalCons-container" id="cons-container">
                <div class="modalCons">
                    <h4>Cadastro de Consulta</h4>
                    <div class="consBody">
                        <div class="consLeft">
                            <!-- irá mostrar o nome dos pacientes enquanto pesquisados -->
                            <p>Nome do Paciente</p>
                            <input type="text" class="pesqNome" id="pesqNome" placeholder="Buscar por nome ou cpf...">
                            <!-- Deve mostrar a lista de pacientes encontrados -->
                            <ul class="NameList">
                                <li class="NameOpt"></li>
                            </ul>
                        </div>
                        <div class="consRight">
                            <p>Data da Consulta</p>
                            <input type="date" class="data" id="data" placeholder="Data da Consulta">
                            <!-- se a hora estiver indisponivel mostrar mensagem -->
                            <p>Hora da Consulta</p>
                            <input type="time" class="hora" id="hora" placeholder="Hora da Consulta">
                            <p>Valor</p>
                            <input type="text" class="valor" id="valor" placeholder="Valor">
                        </div>
                    </div>
                    <div class="buttonArea">
                        <!-- botão para salvar a consulta **ainda sem funcionalidade -->
                        <button  class="btnSalvar" id="save">Salvar</button>
                        <button class="btnCancelar" id="close">Cancelar</button>
                    </div>
                </div>
            </div>

            <!-- Tabela com as consultas semanais **ainda não modificado para cobrir todos os meses -->
            <table>
                <tr>
                    <th></th>
                    <th>Segunda</th>
                    <th>Terça</th>
                    <th>Quarta</th>
                    <th>Quinta</th>
                    <th class="null">Sexta</th>
                </tr>
                <tr>
                    <td class="hora">9:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hora">10:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hora">11:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hora">12:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hora">13:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hora">14:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hora">15:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="hora">16:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <!-- caixa de texto para lembrete-->
            <div class="lembre">
                <b>Lembretes</b>
                <textarea type="text" placeholder="Para o que precisar lembrar..."></textarea>
                <!-- botão para salvar o lembrete **ainda sem funcionalidade -->
                <button>salvar</button>
            </div>
        </section>

        <section class="pacientes" id="pacient">
            <b class="desc">Pacientes</b>
            <input type="text" placeholder="Buscar">
            <b>Status:</b>
            <select class="dropdown status">
                <option value="todos">Todos</option>
                <option value="ativo">Ativo</option>
                <option value="pendente">Pendente</option>
                <option value="inativo">Inativo</option>
            </select>
            <button class="pac">registrar novo paciente</button>
            <table>
                <tr>
                    <th>Paciente</th>
                    <th>CPF</th>
                    <th>Status</th>
                    <th>próxima sessão</th>
                    <th>ultima sessão</th>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="perf">perfil</button></td>
                    <td><button class="env">enviar confirmação de consulta</button></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="perf">perfil</button></td>
                    <td><button class="env">enviar confirmação de consulta</button></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="perf">perfil</button></td>
                    <td><button class="env">enviar confirmação de consulta</button></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="perf">perfil</button></td>
                    <td><button class="env">enviar confirmação de consulta</button></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="perf">perfil</button></td>
                    <td><button class="env">enviar confirmação de consulta</button></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="perf">perfil</button></td>
                    <td><button class="env">enviar confirmação de consulta</button></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="perf">perfil</button></td>
                    <td><button class="env">enviar confirmação de consulta</button></td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="perf">perfil</button></td>
                    <td><button class="env">enviar confirmação de consulta</button></td>

                </tr>
            </table>
        </section>

    </main>

    <!-- lógica para pop up de navegação do site(feito por IA) -->
    <!-- provavelmente não será mais usado -->
    <div id="frameContainer" class="popup-overlay" style="display:none">

        <div class="rectangle-root">
            <div class="frame-child">
            </div>
            <div class="ficha-pessoal" id="popupfichaPessoalText">Ficha Pessoal</div>
            <div class="cadastro" id="popupcadastroText">Cadastro</div>
            <img class="frame-item" alt="" src="Line 1.svg">
            <img class="frame-inner" alt="" src="Line 5.svg">

            <div class="pacientes1">Pacientes</div>
            <div class="frame-child1">
            </div>
            <div class="agendamentos1">Agendamentos</div>
            <div class="sair">Sair</div>
            <div class="histrico" id="popuphistricoText">Histórico</div>
            <div class="cadastro1" id="popupcadastroText1">Cadastro</div>
            <div class="line-div">
            </div>
            <div class="consultas1">Consultas</div>
            <b class="opes">Opções</b>

            <div class="rectangle-group">
                <div class="group-child1">
                </div>
                <a th:href="@{/}">
                    <button class="group-child2">
                    </button>
                </a>
                <div class="group-child3">
                </div>
            </div>
        </div>
        <script>
            const novaConsultaButton = document.getElementById('NovaCon');
            const modalContainer = document.getElementById('cons-container');
            const closeButton = document.getElementById('close');
            novaConsultaButton.addEventListener('click', () => {
                modalContainer.classList.add('open');
                modalContainer.style.transition = '0.2s ease-in-out';
            });

            closeButton.addEventListener('click', () => {
                modalContainer.classList.remove('open');
            });
        </script>
</body>


</html>