body {
    margin: 0;
    line-height: normal;
    font-family: montserrat;
}

.frame-child {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #f9df94;
    width: 18.063rem;
    height: 57.5rem;
}

.ficha-pessoal {
    position: absolute;
    top: 25.125rem;
    left: 1.813rem;
    display: inline-block;
    width: 11.75rem;
    height: 1.438rem;
    cursor: pointer;
}

.cadastro {
    position: absolute;
    top: 22.563rem;
    left: 1.688rem;
    display: inline-block;
    width: 6.438rem;
    height: 1.438rem;
    cursor: pointer;
}

.frame-item {
    position: absolute;
    top: 20.813rem;
    left: 4.188rem;
    max-height: 100%;
    width: 6.5rem;
}

.frame-inner {
    position: absolute;
    top: 34.673rem;
    left: 3.813rem;
    max-height: 100%;
    width: 10rem;
}

.pacientes1 {
    position: absolute;
    top: 19.125rem;
    left: 4.188rem;
    font-weight: 600;
    display: inline-block;
    width: 10.75rem;
    height: 1.688rem;
}

.frame-child1 {
    position: absolute;
    top: 51rem;
    left: 5.125rem;
    border-radius: 10px 10px 0px 0px;
    background-color: #32b9be;
    width: 7.813rem;
    height: 2.5rem;
}

.agendamentos1 {
    position: absolute;
    top: 32.75rem;
    left: 4.188rem;
    font-weight: 600;
    display: inline-block;
    width: 10.75rem;
    height: 1.688rem;
}

.sair {
    position: absolute;
    top: 51.563rem;
    left: 7.75rem;
    font-weight: 900;
    display: inline-block;
    width: 2.625rem;
    height: 1.688rem;
}

.histrico {
    position: absolute;
    top: 12.75rem;
    left: 1.813rem;
    display: inline-block;
    width: 6.438rem;
    height: 1.438rem;
    cursor: pointer;
}

.cadastro1 {
    position: absolute;
    top: 10.188rem;
    left: 1.688rem;
    display: inline-block;
    width: 6.438rem;
    height: 1.438rem;
    cursor: pointer;
}

.line-div {
    position: absolute;
    top: 8.531rem;
    left: 4.094rem;
    border-top: 1px solid #32b9be;
    box-sizing: border-box;
    width: 6.688rem;
    height: 0.063rem;
}

.consultas1 {
    position: absolute;
    top: 6.813rem;
    left: 4.188rem;
    font-weight: 600;
    display: inline-block;
    width: 10.75rem;
    height: 1.688rem;
}

.opes {
    position: absolute;
    top: 0.75rem;
    left: 4.75rem;
    font-size: 1.563rem;
    display: inline-block;
    width: 6.688rem;
    height: 1.813rem;
}

.consultaazul-icon1 {
    position: absolute;
    top: 5.125rem;
    left: -0.875rem;
    width: 5.063rem;
    height: 5.063rem;
    object-fit: cover;
}

.pessoaazul-icon1 {
    position: absolute;
    top: 17.813rem;
    left: -0.562rem;
    width: 4.375rem;
    height: 4.375rem;
    object-fit: cover;
}

.calendar-icon1 {
    position: absolute;
    top: 32.625rem;
    left: 0.75rem;
    width: 2.125rem;
    height: 2.125rem;
    object-fit: cover;
}

.group-child1 {
    position: absolute;
    top: 1.688rem;
    left: 0rem;
    background-color: #2e97b7;
    width: 3rem;
    height: 0.563rem;
}

.group-child2 {
    position: absolute;
    top: 0.813rem;
    left: 0rem;
    background-color: #2e97b7;
    width: 3rem;
    height: 0.625rem;
    border: none;
}

.group-child3 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #2e97b7;
    width: 3rem;
    height: 0.563rem;
}

.rectangle-group {
    position: absolute;
    top: 0.563rem;
    left: 0.813rem;
    width: 3rem;
    height: 2.25rem;
}

.rectangle-root {
    width: 18.063rem;
    position: relative;
    height: 57.625rem;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: left;
    font-size: 1.25rem;
    color: #195c71;
}