body {
    margin: 0;
    line-height: normal;
    width: 100vw;
    position: relative;
    background-color: #D8EAF0;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: 1.25rem;
    color: #195c71;
    font-family: Montserrat;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

main {
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100vw;
    flex-wrap: wrap;
}

.popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
}

header {
    display: flex;
    background-color: #1F363D;
    width: 100vw;
    height: 9.875rem;
    justify-content: flex-start;
    align-items: center;
}

header input {
    width: 20rem;
    height: 2.5rem;
    border-radius: 16px;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-right: 5rem;
}

.logo-mm-1 {
    position: relative;
    width: 35, 5rem;
    height: 9rem;
    object-fit: cover;
    align-items: center;
}

.logo-2 {
    display: none;
    position: absolute;
    top: -3.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 35, 5rem;
    height: 9rem;
    object-fit: cover;
    margin-top: 70px;
}

.wireframe-1-item {
    position: absolute;
    top: 11.313rem;
    left: 92.688rem;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 25.875rem;
    height: 2.063rem;
}

.usurio-doutora-michele {
    position: absolute;
    top: 11.625rem;
    left: 94.688rem;
    font-weight: 600;
    display: inline-block;
    width: 21.813rem;
    height: 1.438rem;
}

.wireframe-1-inner {
    position: absolute;
    top: 2rem;
    left: 0;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 51rem;
    height: 15.063rem;
    min-width: 20rem;
    margin: 10rem auto 5rem auto;
    position: relative;
    transform: none;
    min-height: 15.063rem;
}

.prximo-paciente {
    position: absolute;
    top: 2rem;
    left: 5rem;
    font-weight: 600;
    display: inline-block;
    width: 12.375rem;
    height: 1.438rem;
    color: #195c71;
    font-weight: bold;
}

.observaes {
    position: absolute;
    top: 8.5rem;
    left: 5rem;
    font-weight: 600;
    display: inline-block;
    width: 12.375rem;
    height: 1.438rem;
    color: #195c71;
    font-weight: bold;
}

.maria-julia-santos {
    position: absolute;
    top: 4rem;
    left: 5rem;
    font-weight: 900;
    display: inline-block;
    width: 12.375rem;
    height: 1.438rem;
    font-weight: bold;
}

.pauta-namoro-faculdade {
    position: absolute;
    top: 10.5rem;
    left: 5rem;
    font-weight: 900;
    display: inline-block;
    width: 24.55rem;
    height: 1.438rem;
    transform: rotate(-0.1deg);
    transform-origin: 0 0;
    font-weight: bold;
}

.group-child {
    position: absolute;
    top: 1.688rem;
    left: 0rem;
    background-color: #FFFFFF;
    width: 3rem;
    height: 0.3rem;
    border-radius: 20px;
}

.group-item {
    position: absolute;
    top: 0.813rem;
    left: 0rem;
    background-color: #FFFFFF;
    width: 3rem;
    height: 0.3rem;
    border-radius: 20px;
}

.group-inner {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #FFFFFF;
    width: 3rem;
    height: 0.3rem;
    border-radius: 20px;
}

.rectangle-parent {
    position: relative;
    width: 3rem;
    height: 2.25rem;
    margin-top: 11rem;
    margin-left: -25rem;
}



.consultaazul-icon {
    position: absolute;
    top: 15.563rem;
    left: -0.312rem;
    width: 5.063rem;
    height: 5.063rem;
    object-fit: cover;
}

.pessoaazul-icon {
    position: absolute;
    top: 28.125rem;
    left: 0.063rem;
    width: 4.375rem;
    height: 4.375rem;
    object-fit: cover;
}

.pastaazul-icon {
    position: absolute;
    top: 40.188rem;
    left: -0.312rem;
    width: 5.063rem;
    height: 5.063rem;
    object-fit: cover;
}

.rectangle-div {
    display: flex;
    position: absolute;
    top: 0.7rem;
    left: 30.5rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    width: 18.688rem;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
}

.div {
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.875rem;
    font-weight: 800;
    color: #fffeea;
    display: inline-block;
    width: 4.813rem;
    height: 1.125rem;
}

.div1 {
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.563rem;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    width: 9.125rem;
}

.wireframe-1-child1 {
    display: flex;
    position: absolute;
    top: 7.5rem;
    left: 30.5rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    width: 18.688rem;
    height: 6.313rem;
}

.consulta-3-de {
    position: absolute;
    top: 45.5rem;
    left: calc(50% + 151px);
    font-size: 1.563rem;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    width: 9.125rem;

}

.ellipse-div {
    position: absolute;
    top: -1.45rem;
    left: -1.2rem;
    border-radius: 50%;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 4.688rem;
    height: 4.813rem;
}

.hora-icon {
    position: absolute;
    top: 0.4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
}

.wireframe-1-child2 {
    position: relative;
    top: 19.313rem;
    left: 0vw;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 18.063rem;
    height: 15.063rem;
    min-width: 16.64rem;
    cursor: pointer;
    margin: 0;

}

.wireframe-1-child4 {
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 12.188rem;
    height: 2.063rem;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #195c71;
}

.wireframe-1-child4:hover {
    color: #32b9be;
}

.wireframe-1-child5 {
    position: relative;
    top: 19.313rem;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 18.063rem;
    height: 15.063rem;
    min-width: 16.64rem;
    cursor: pointer;
    margin-left: 3rem;
    margin-right: 10px;
    margin-bottom: 30px;
}

.wireframe-1-child7 {
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    font-weight: 600;
    font-size: 20px;
    color: #195c71;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 12.188rem;
    height: 2.063rem;
    text-align: center;
    justify-content: center;
}

.consultas {
    position: absolute;
    top: 33.75rem;
    left: calc(50% - 472px);
    font-weight: 600;
    display: inline-block;
    width: 6.563rem;
    height: 1.688rem;
    color: #195c71;
}

.wireframe-1-child7:hover {
    color: #32b9be;
}

.consulta-certo-2-icon {
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.wireframe-1-child8 {
    position: relative;
    top: 19.313rem;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 18.063rem;
    height: 15.063rem;
    min-width: 16.64rem;
    cursor: pointer;
    margin: 0;
    margin-right: 3rem;
}

.wireframe-1-child10 {
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 20px;
    color: #195c71;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 12.188rem;
    height: 2.063rem;
    text-align: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 12.188rem;
    height: 2.063rem;
}

.wireframe-1-child10:hover {
    color: #32b9be;
}

.calendar-icon {
    top: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 14.75rem;
    height: 14.75rem;
    object-fit: cover;
}

.agendamentos {
    position: absolute;
    top: 33.75rem;
    left: calc(50% + 350px);
    font-weight: 600;
    display: inline-block;
    width: 10.313rem;
    height: 1.688rem;
    color: #195c71;
}

.agendamentos:hover {
    color: #32b9be;
}

.Cadastro-Pacientes {
    position: flex;
}

.usuario-azul-1-icon {
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    cursor: pointer;
}

.frame-child {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #f9df94;
    width: 18.063rem;
    height: 57.5rem;
}

.ficha-pessoal {
    position: absolute;
    top: 25.125rem;
    left: 1.813rem;
    display: inline-block;
    width: 11.75rem;
    height: 1.438rem;
    cursor: pointer;
}

.cadastro {
    position: absolute;
    top: 22.563rem;
    left: 1.688rem;
    display: inline-block;
    width: 6.438rem;
    height: 1.438rem;
    cursor: pointer;
}

.frame-item {
    position: absolute;
    top: 20.813rem;
    left: 4.188rem;
    max-height: 100%;
    width: 6.5rem;
}

.frame-inner {
    position: relative;
    top: 34.673rem;
    left: 3.813rem;
    max-height: 100%;
    width: 10rem;
}

.pacientes1 {
    position: absolute;
    top: 19.125rem;
    left: 4.188rem;
    font-weight: 600;
    display: inline-block;
    width: 10.75rem;
    height: 1.688rem;
}

.frame-child1 {
    position: absolute;
    top: 51rem;
    left: 5.125rem;
    border-radius: 10px 10px 0px 0px;
    background-color: #32b9be;
    width: 7.813rem;
    height: 2.5rem;
}

.agendamentos1 {
    position: absolute;
    top: 32.75rem;
    left: 4.188rem;
    font-weight: 600;
    display: inline-block;
    width: 10.75rem;
    height: 1.688rem;
}

.sair {
    position: absolute;
    top: 51.563rem;
    left: 7.75rem;
    font-weight: 900;
    display: inline-block;
    width: 2.625rem;
    height: 1.688rem;
}

.histrico {
    position: absolute;
    top: 12.75rem;
    left: 1.813rem;
    display: inline-block;
    width: 6.438rem;
    height: 1.438rem;
    cursor: pointer;
}

.cadastro1 {
    position: absolute;
    top: 10.188rem;
    left: 1.688rem;
    display: inline-block;
    width: 6.438rem;
    height: 1.438rem;
    cursor: pointer;
}

.line-div {
    position: absolute;
    top: 8.531rem;
    left: 4.094rem;
    border-top: 1px solid #32b9be;
    box-sizing: border-box;
    width: 6.688rem;
    height: 0.063rem;
}

.consultas1 {
    position: absolute;
    top: 6.813rem;
    left: 4.188rem;
    font-weight: 600;
    display: inline-block;
    width: 10.75rem;
    height: 1.688rem;
}

.opes {
    position: absolute;
    top: 0.75rem;
    left: 4.75rem;
    font-size: 1.563rem;
    display: inline-block;
    width: 6.688rem;
    height: 1.813rem;
}

.consultaazul-icon1 {
    position: absolute;
    top: 5.125rem;
    left: -0.875rem;
    width: 5.063rem;
    height: 5.063rem;
    object-fit: cover;
}

.pessoaazul-icon1 {
    position: absolute;
    top: 17.813rem;
    left: -0.562rem;
    width: 4.375rem;
    height: 4.375rem;
    object-fit: cover;

}

.calendar-icon1 {
    position: absolute;
    top: 32.625rem;
    left: 0.75rem;
    width: 2.125rem;
    height: 2.125rem;
    object-fit: cover;
}

.group-child1 {
    position: absolute;
    top: 1.688rem;
    left: 0rem;
    background-color: #2e97b7;
    width: 3rem;
    height: 0.563rem;
}

.group-child2 {
    position: absolute;
    top: 0.813rem;
    left: 0rem;
    background-color: #2e97b7;
    width: 3rem;
    height: 0.625rem;
    border: none;
}

.group-child3 {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #2e97b7;
    width: 3rem;
    height: 0.563rem;
}

.rectangle-group {
    position: absolute;
    top: 0.563rem;
    left: 0.813rem;
    width: 3rem;
    height: 2.25rem;
}

.rectangle-root {
    width: 18.063rem;
    position: relative;
    height: 57.625rem;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: left;
    font-size: 1.25rem;
    color: #195c71;
}

@media (max-width: 1138px) {
    header {
        height: 15rem;
    }

    body {
        height: auto;
        overflow-y: auto;
        gap: 2rem;
    }



    .logo-mm-1 {
        display: none;
    }

    .logo-2 {
        display: inline;
        position: absolute;
        top: -3.6rem;
        left: 50%;
        transform: translateX(-50%);
        height: 13rem;
        object-fit: cover;
        margin-top: 70px;
        z-index: 1;
    }

    .wireframe-1-child2,
    .wireframe-1-child5,
    .wireframe-1-child8 {
        position: relative;
        top: 0;
        left: 0;
        margin: 1rem auto;
        transform: none;
        width: 50%;
        height: 25%;
        display: block;
    }

    .wireframe-1-child5 {
        margin-top: 20rem;
    }

    .wireframe-1-inner {
        position: relative;
        top: 2rem;
        left: 0;
        margin: 2rem auto 5rem auto;
        transform: none;
        width: 90%;
        height: 40%;
        min-height: 15.063rem;
        justify-content: center;
        text-align: center;
    }

    .rectangle-div,
    .wireframe-1-child1 {
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        z-index: 1;
    }

    .wireframe-1-child1 {
        top: 50%;
    }

    .rectangle-div {
        top: 75%;
    }


    .maria-julia-santos,
    .pauta-namoro-faculdade {
        left: 50%;
        transform: translateX(-50%);
    }

    .prximo-paciente {
        left: 46%;
        transform: translateX(-50%);
    }

    .observaes {
        left: 46%;
        transform: translateX(-50%);
    }

    header input {
        display: none;
    }
}