body {
    margin: 0;
    line-height: normal;
    font-family: montserrat;
    width: 100%;
    position: relative;
    background-color: #fffeea;
    height: 67.5rem;
    overflow: hidden;
    text-align: left;
    font-size: 1.25rem;
    color: #195c71;
    overflow-y: auto;
}

header {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #32b9be;
    width: 100%;
    height: 9.875rem;
    justify-content: center;
}

.logo-mm-3 {
    position: absolute;
    top: -4.812rem;
    left: calc(50% - 168px);
    width: 18rem;
    height: 18rem;
    margin-top: 70px;
    object-fit: cover;
}

.wireframe-6-item {
    position: absolute;
    top: 12rem;
    left: 92.625rem;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 25.875rem;
    height: 2.063rem;
}

.usurio-doutora-michele {
    position: absolute;
    top: 12.313rem;
    left: 94.625rem;
    font-weight: 600;
    display: inline-block;
    width: 21.813rem;
    height: 1.438rem;
}

main {
    position: relative;
    top: 16.875rem;
    left: calc(50% - 410px);
    border-radius: 30px 30px 0px 0px;
    background-color: #fffeea;
    border: 5px solid #32b9be;
    box-sizing: border-box;
    width: 51.25rem;
    height: 50.625rem;
}

.rectangle-icon {
    position: absolute;
    top: 16.063rem;
    left: calc(50% - 179px);
    border-radius: 16px;
    width: 22.375rem;
    height: 2.375rem;
    background-color: #fffeea;
    border: #32b9be 3px solid;
}

.prximos-agendamentos {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.563rem;
    display: inline-block;
    width: 20.75rem;
    height: 2.375rem;
}



.pesquisar {
    position: absolute;
    bottom: -0.3rem;
    left: calc(50% - 86px);
    border-radius: 10px 10px 0px 0px;
    background-color: #a4dcb9;
    width: 10.75rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: #fffeea;
    font-weight: bolder;
}

.wireframe-6-child1 {
    position: absolute;
    top: 10.2rem;
    left: 17rem;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 28rem;
    height: 2.063rem;
}

.wireframe-6-child2 {
    position: absolute;
    top: 29.75rem;
    left: 52.813rem;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 6.813rem;
    height: 2.063rem;
    text-align: center;
}

.wireframe-6-child3 {
    position: absolute;
    top: 29.75rem;
    left: 60.938rem;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 6.813rem;
    height: 2.063rem;
    font-size: larger;
}

.wireframe-6-child4 {
    position: absolute;
    top: 29.75rem;
    left: 69.063rem;
    border-radius: 16px;
    background-color: #fffeea;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 11.75rem;
    height: 2.063rem;
    text-align: center;
}

.wireframe-6-child5 {
    position: absolute;
    top: 35.75rem;
    left: 41.938rem;
    border-radius: 16px;
    background-color: #f9df94;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 15.688rem;
    height: 2.063rem;
}

.pesquisar-por-nome {
    position: absolute;
    top: 10.3rem;
    left: 3rem;
    font-weight: 600;
    display: inline-block;
    width: 13.5rem;
    height: 1.563rem;
}

.pesquisar-por-data {
    position: absolute;
    top: 30.125rem;
    left: 39.125rem;
    font-weight: 600;
    display: inline-block;
    width: 13.5rem;
    height: 1.563rem;
}

.dia {
    position: absolute;
    top: 31.813rem;
    left: 55.438rem;
    font-size: 0.938rem;
    display: inline-block;
    width: 1.563rem;
    height: 1rem;
}

.ms {
    position: absolute;
    top: 31.688rem;
    left: 63.25rem;
    font-size: 0.938rem;
    display: inline-block;
    width: 2.188rem;
    height: 1rem;
}

.ano {
    position: absolute;
    top: 31.813rem;
    left: 74rem;
    font-size: 0.938rem;
    display: inline-block;
    width: 1.813rem;
    height: 1rem;
}

.agendamentos {
    position: absolute;
    top: 16.375rem;
    left: calc(50% - 105px);
    font-size: 1.563rem;
    font-weight: 600;
    display: inline-block;
    width: 13.125rem;
    height: 1.438rem;
}

.wireframe-6-child6 {
    position: absolute;
    top: 44.5rem;
    left: 42.813rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 37.688rem;
    height: 2.188rem;
}

.wireframe-6-child7 {
    position: absolute;
    top: 47.25rem;
    left: 42.813rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 37.688rem;
    height: 2.188rem;
}

.wireframe-6-child8 {
    position: absolute;
    top: 50rem;
    left: 42.813rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 37.688rem;
    height: 2.188rem;
}

.wireframe-6-child9 {
    position: absolute;
    top: 52.75rem;
    left: 42.813rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 37.688rem;
    height: 2.188rem;
}

.wireframe-6-child10 {
    position: absolute;
    top: 55.5rem;
    left: 42.813rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 37.688rem;
    height: 2.188rem;
}

.wireframe-6-child11 {
    position: absolute;
    top: 58.25rem;
    left: 42.813rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 37.688rem;
    height: 2.188rem;
}

.div {
    position: absolute;
    top: 44.813rem;
    left: 44.188rem;
    font-weight: 600;
    display: inline-block;
    width: 7.563rem;
    height: 1.75rem;
}

.julia-torres-barros {
    position: absolute;
    top: 44.875rem;
    left: 53.75rem;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 12.875rem;
    height: 1.75rem;
}

.carlos-jos-silva {
    position: absolute;
    top: 47.688rem;
    left: 53.75rem;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 12.875rem;
    height: 1.75rem;
}

.bruna-matos-oliveira {
    position: absolute;
    top: 50.438rem;
    left: 53.75rem;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 15.375rem;
    height: 1.75rem;
}

.maria-julia-dos {
    position: absolute;
    top: 53.188rem;
    left: 53.75rem;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 15.375rem;
    height: 1.75rem;
}

.lvia-monteiro-dourado {
    position: absolute;
    top: 55.938rem;
    left: 53.75rem;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 23.688rem;
    height: 1.75rem;
}

.renato-silva-andrade {
    position: absolute;
    top: 58.625rem;
    left: 53.75rem;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 23.688rem;
    height: 1.75rem;
}

.div1 {
    position: absolute;
    top: 47.563rem;
    left: 44.188rem;
    font-weight: 600;
    display: inline-block;
    width: 7.563rem;
    height: 1.75rem;
}

.div2 {
    position: absolute;
    top: 50.375rem;
    left: 44.188rem;
    font-weight: 600;
    display: inline-block;
    width: 7.563rem;
    height: 1.75rem;
}

.div3 {
    position: absolute;
    top: 53.063rem;
    left: 44.188rem;
    font-weight: 600;
    display: inline-block;
    width: 7.563rem;
    height: 1.75rem;
}

.div4 {
    position: absolute;
    top: 55.875rem;
    left: 44.188rem;
    font-weight: 600;
    display: inline-block;
    width: 7.563rem;
    height: 1.75rem;
}

.div5 {
    position: absolute;
    top: 58.625rem;
    left: 44.188rem;
    font-weight: 600;
    display: inline-block;
    width: 7.563rem;
    height: 1.75rem;
}

.wireframe-6-child12 {
    position: absolute;
    top: 44.5rem;
    left: 42rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 38.5rem;
    height: 2.188rem;
}

.wireframe-6-child13 {
    position: absolute;
    top: 47.25rem;
    left: 42rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 38.5rem;
    height: 2.188rem;
}

.wireframe-6-child14 {
    position: absolute;
    top: 50rem;
    left: 42rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 38.5rem;
    height: 2.188rem;
}

.wireframe-6-child15 {
    position: absolute;
    top: 52.75rem;
    left: 41.938rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 38.563rem;
    height: 2.188rem;
}

.wireframe-6-child16 {
    position: absolute;
    top: 55.5rem;
    left: 41.938rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 38.563rem;
    height: 2.188rem;
}

.wireframe-6-child17 {
    position: absolute;
    top: 58.25rem;
    left: 42rem;
    border-radius: 16px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    box-sizing: border-box;
    width: 38.5rem;
    height: 2.188rem;
}

.div6 {
    position: absolute;
    top: 44.813rem;
    left: 42.813rem;
    font-weight: 600;
    display: inline-block;
    width: 8.938rem;
    height: 1.75rem;
}

.renato-silva-andrade1 {
    position: absolute;
    top: 44.875rem;
    left: 53.75rem;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 16.625rem;
    height: 1.75rem;
}

.bruna-matos-oliveira1 {
    margin: 0;
    white-space: pre-wrap;
}

.bruna-matos-oliveira-container {
    position: absolute;
    top: 55.938rem;
    left: 53.75rem;
    font-weight: 500;
    display: inline-block;
    width: 23.688rem;
    height: 1.75rem;
}

.div7 {
    position: absolute;
    top: 47.563rem;
    left: 42.813rem;
    font-weight: 600;
    display: inline-block;
    width: 8.938rem;
    height: 1.75rem;
}

.div8 {
    position: absolute;
    top: 50.375rem;
    left: 42.813rem;
    font-weight: 600;
    display: inline-block;
    width: 8.938rem;
    height: 1.75rem;
}

.div9 {
    position: absolute;
    top: 53.063rem;
    left: 42.813rem;
    font-weight: 600;
    display: inline-block;
    width: 8.938rem;
    height: 1.75rem;
}

.div10 {
    position: absolute;
    top: 55.938rem;
    left: 42.813rem;
    font-weight: 600;
    display: inline-block;
    width: 8.938rem;
    height: 1.75rem;
}

.div11 {
    position: absolute;
    top: 58.625rem;
    left: 42.875rem;
    font-weight: 600;
    display: inline-block;
    width: 8.938rem;
    height: 1.75rem;
}

.agendamentos1 {
    position: absolute;
    top: 24rem;
    left: 2.7rem;
    font-weight: 600;
    display: inline-block;
    width: 11rem;
}

.novo-agendamento {
    position: absolute;
    top: 18.5rem;
    left: 6rem;
    border-radius: 16px;
    background-color: #f9df94;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 15.688rem;
    height: 2.063rem;
    border: #a4dcb9 3px solid;
    cursor: pointer;
    font-size: large;
    color: #195c71;
    font-weight: bolder;
}

.novo-agendamento:hover {
    color: #32b9be;
}

.histrico-de-agendamentos {
    position: absolute;
    top: 18.5rem;
    left: 24rem;
    border-radius: 16px;
    background-color: #f9df94;
    border: 3px solid #a4dcb9;
    box-sizing: border-box;
    width: 20.063rem;
    height: 2.063rem;
    font-size: large;
    color: #195c71;
    font-weight: bolder;
    cursor: pointer;
}

.histrico-de-agendamentos:hover {
    color: #32b9be;
}

.wireframe-6-child19 {
    position: absolute;
    top: 11.375rem;
    left: 0rem;
    background-color: #f9df94;
    width: 22.5rem;
    height: 4.375rem;
}

.wireframe-6-child20 {
    position: absolute;
    top: 16.75rem;
    left: 0rem;
    background-color: #a4dcb9;
    width: 22.5rem;
    height: 4.375rem;
}

.agendamentos2 {
    position: absolute;
    top: 11.625rem;
    left: 1.625rem;
    font-size: 2.188rem;
    display: flex;
    align-items: center;
    width: 18.188rem;
    height: 4.375rem;
}

.pgina-inicial {
    position: absolute;
    top: 16.75rem;
    left: 0rem;
    background-color: #a4dcb9;
    width: 22.5rem;
    height: 4.375rem;
    border: none;
    font-size: xx-large;
    color: #195c71;
    font-weight: bolder;
    cursor: pointer;
}



.triangulo-png-3 {
    position: absolute;
    top: 17.688rem;
    left: 1.688rem;
    width: 2.313rem;
    height: 2.313rem;
    object-fit: contain;
}

.triangulo-png-4 {
    position: absolute;
    top: 17.688rem;
    left: 0.688rem;
    width: 2.313rem;
    height: 2.313rem;
    object-fit: contain;
}

table {
    overflow-y: auto;
}

.TabelaConsultas {
    position: absolute;
    bottom: 3.3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px 30px 30px 30px;
    background-color: #a4dcb9;
    border: 3px solid #195c71;
    color: #195c71;
    width: 47rem;
    height: 20rem;
    column-gap: 3rem;
    column-rule: #195c71;
    font-size: 1.1rem;
    column-width: auto;
    column-rule-width: 1rem;
    text-align: center;
    overflow-y: auto;
}

.Sem-Resultados {
    position: absolute;
    bottom: 3.3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #195c71;
    width: 47rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}