body {
	margin: 0;
	line-height: normal;
	font-family: montserrat;
	width: 100%;
	position: relative;
	background-color: #fffeea;
	height: 67.5rem;
	overflow: hidden;
	text-align: left;
	font-size: 1.25rem;
	color: #195c71;
	overflow-y: auto;
}

button {
	font-family: montserrat;
}

img,
p,
b {
	z-index: 2;
}

.wireframe-3-child {
	position: absolute;
	top: 0rem;
	left: 0rem;
	background-color: #32b9be;
	width: 90rem;
	height: 9.875rem;
}

main {
	position: relative;
	top: 16.875rem;
	left: 36rem;
	border-radius: 30px 30px 0px 0px;
	background-color: #fffeea;
	border: 5px solid #32b9be;
	box-sizing: border-box;
	width: 51.25rem;
	height: 50.625rem;
	display: flex;

}

.wireframe-3-inner {
	position: absolute;
	top: 64.063rem;
	left: 56rem;
	border-radius: 10px 10px 0px 0px;
	background-color: #32b9be;
	width: 10.75rem;
	height: 2.5rem;
	cursor: pointer;
}

.rectangle-div {
	position: absolute;
	top: 15.875rem;
	left: 42.5rem;
	border-radius: 16px;
	background-color: #32b9be;
	border: 3px solid #32b9be;
	box-sizing: border-box;
	width: 37.688rem;
	height: 2.063rem;
}

.wireframe-3-child1 {
	position: absolute;
	top: 15.875rem;
	left: 61rem;
	border-radius: 16px;
	background-color: #fffeea;
	border: 3px solid #32b9be;
	box-sizing: border-box;
	width: 19.188rem;
	height: 2.063rem;
}

.wireframe-3-child2 {
	position: absolute;
	top: 24.625rem;
	left: 50.875rem;
	border-radius: 16px;
	background-color: #32b9be;
	border: 3px solid #a4dcb9;
	box-sizing: border-box;
	width: 2.125rem;
	height: 2.063rem;
}

.wireframe-3-child3 {
	position: absolute;
	top: 11.625rem;
	left: 0rem;
	background-color: #f9df94;
	width: 16.375rem;
	height: 3.313rem;
}

.wireframe-3-child4 {
	position: absolute;
	top: 11.625rem;
	left: 92.563rem;
	border-radius: 16px;
	background-color: #fffeea;
	border: 3px solid #a4dcb9;
	box-sizing: border-box;
	width: 25.875rem;
	height: 2.063rem;
}

.usurio-doutora-michele {
	position: absolute;
	top: 11.938rem;
	left: 94.563rem;
	font-weight: 600;
	display: inline-block;
	width: 21.813rem;
	height: 1.438rem;
}

.filtros-de-busca {
	position: absolute;
	top: 24.813rem;
	left: 39.375rem;
	display: inline-block;
	font-weight: 600;
	width: 11.5rem;
	height: 1.75rem;
}

.histrico {
	position: absolute;
	top: 18rem;
	left: 3rem;
	display: inline-block;
	font-weight: 600;
	width: 6.125rem;
	height: 1.75rem;
}

.nome-do-paciente {
	position: absolute;
	top: 12.2rem;
	left: 0.5rem;
	font-weight: 500;
	display: inline-block;
	width: 12.375rem;
	height: 1.75rem;

}

.voltar {
	position: absolute;
	top: 64.438rem;
	left: 58.813rem;
	font-size: 1.563rem;
	display: inline-block;
	color: #fffeea;
	width: 5.375rem;
	height: 2.375rem;
}

.histrico-de-consultas {
	position: absolute;
	font-size: 1.688rem;
	width: 20.188rem;
	height: 2.375rem;
	top: 6.5rem;
	left: 50%;
	transform: translate(-50%);
	justify-items: center;
}

.cadastro {
	position: absolute;
	top: 15.938rem;
	left: 48.25rem;
	font-size: 1.563rem;
	font-weight: 600;
	display: inline-block;
	width: 10rem;
	height: 1.438rem;
	cursor: pointer;
}

.histrico1 {
	position: absolute;
	top: 16.2rem;
	left: 66.875rem;
	font-size: 1.563rem;
	font-weight: 600;
	display: inline-block;
	width: 10rem;
	height: 1.438rem;
}

.check-png-1 {
	position: absolute;
	top: 24.875rem;
	left: 51.438rem;
	width: 1.313rem;
	height: 1.313rem;
	object-fit: cover;
}

.wireframe-3-child5 {
	position: absolute;
	top: 24.625rem;
	left: 66.688rem;
	border-radius: 16px;
	background-color: #fffeea;
	border: 3px solid #a4dcb9;
	box-sizing: border-box;
	width: 2.125rem;
	height: 2.063rem;
}

.wireframe-3-child6 {
	position: absolute;
	display: inline-block;
	border-radius: 16px;
	left: 27%;
	top: 12rem;
	background-color: #fffeea;
	border: 3px solid #a4dcb9;
	width: 29.063rem;
	height: 1.8rem;
}

.wireframe-3-child7 {
	position: absolute;
	top: 36.563rem;
	left: 42.5rem;
	border-radius: 16px;
	background-color: #a4dcb9;
	border: 3px solid #195c71;
	box-sizing: border-box;
	width: 37.688rem;
	height: 2.188rem;
}

.wireframe-3-child8 {
	position: absolute;
	top: 39.313rem;
	left: 42.5rem;
	border-radius: 16px;
	background-color: #a4dcb9;
	border: 3px solid #195c71;
	box-sizing: border-box;
	width: 37.688rem;
	height: 2.188rem;
}

.wireframe-3-child9 {
	position: absolute;
	top: 42.063rem;
	left: 42.5rem;
	border-radius: 16px;
	background-color: #a4dcb9;
	border: 3px solid #195c71;
	box-sizing: border-box;
	width: 37.688rem;
	height: 2.188rem;
}

.wireframe-3-child10 {
	position: absolute;
	top: 44.813rem;
	left: 42.5rem;
	border-radius: 16px;
	background-color: #a4dcb9;
	border: 3px solid #195c71;
	box-sizing: border-box;
	width: 37.688rem;
	height: 2.188rem;
}

.wireframe-3-child11 {
	position: absolute;
	top: 47.563rem;
	left: 42.5rem;
	border-radius: 16px;
	background-color: #a4dcb9;
	border: 3px solid #195c71;
	box-sizing: border-box;
	width: 37.688rem;
	height: 2.188rem;
}

.wireframe-3-child12 {
	position: absolute;
	top: 50.313rem;
	left: 42.5rem;
	border-radius: 16px;
	background-color: #a4dcb9;
	border: 3px solid #195c71;
	box-sizing: border-box;
	width: 37.688rem;
	height: 2.188rem;
}

.wireframe-3-child13 {
	position: absolute;
	top: 53.063rem;
	left: 42.5rem;
	border-radius: 16px;
	background-color: #a4dcb9;
	border: 3px solid #195c71;
	box-sizing: border-box;
	width: 37.688rem;
	height: 2.188rem;
}

.wireframe-3-child14 {
	position: absolute;
	top: 55.813rem;
	left: 42.5rem;
	border-radius: 16px;
	background-color: #a4dcb9;
	border: 3px solid #195c71;
	box-sizing: border-box;
	width: 37.688rem;
	height: 2.188rem;
}

.data-consulta {
	position: absolute;
	top: 24.938rem;
	left: 69.25rem;
	font-weight: 500;
	display: inline-block;
	width: 10.125rem;
	height: 1.75rem;
}

.div {
	position: absolute;
	top: 36.875rem;
	left: 43.875rem;
	font-weight: 600;
	display: inline-block;
	width: 7.563rem;
	height: 1.75rem;
}

.julia-torres-barros {
	position: absolute;
	top: 36.938rem;
	left: 53.438rem;
	font-weight: 500;
	white-space: pre-wrap;
	display: inline-block;
	width: 12.875rem;
	height: 1.75rem;
}

.carlos-jos-silva {
	position: absolute;
	top: 39.75rem;
	left: 53.438rem;
	font-weight: 500;
	white-space: pre-wrap;
	display: inline-block;
	width: 12.875rem;
	height: 1.75rem;
}

.bruna-matos-oliveira {
	position: absolute;
	top: 42.5rem;
	left: 53.438rem;
	font-weight: 500;
	white-space: pre-wrap;
	display: inline-block;
	width: 15.375rem;
	height: 1.75rem;
}

.maria-julia-dos {
	position: absolute;
	top: 45.25rem;
	left: 53.438rem;
	font-weight: 500;
	white-space: pre-wrap;
	display: inline-block;
	width: 15.375rem;
	height: 1.75rem;
}

.lvia-monteiro-dourado {
	position: absolute;
	top: 48rem;
	left: 53.438rem;
	font-weight: 500;
	white-space: pre-wrap;
	display: inline-block;
	width: 23.688rem;
	height: 1.75rem;
}

.renato-silva-andrade {
	position: absolute;
	top: 50.688rem;
	left: 53.438rem;
	font-weight: 500;
	white-space: pre-wrap;
	display: inline-block;
	width: 23.688rem;
	height: 1.75rem;
}

.camila-figueira-ramos {
	position: absolute;
	top: 53.5rem;
	left: 53.438rem;
	font-weight: 500;
	white-space: pre-wrap;
	display: inline-block;
	width: 23.688rem;
	height: 1.75rem;
}

.eduardo-tavares-meireles {
	position: absolute;
	top: 56.188rem;
	left: 53.438rem;
	font-weight: 500;
	white-space: pre-wrap;
	display: inline-block;
	width: 23.688rem;
	height: 1.75rem;
}

.div1 {
	position: absolute;
	top: 39.625rem;
	left: 43.875rem;
	font-weight: 600;
	display: inline-block;
	width: 7.563rem;
	height: 1.75rem;
}

.div2 {
	position: absolute;
	top: 42.438rem;
	left: 43.875rem;
	font-weight: 600;
	display: inline-block;
	width: 7.563rem;
	height: 1.75rem;
}

.div3 {
	position: absolute;
	top: 45.125rem;
	left: 43.875rem;
	font-weight: 600;
	display: inline-block;
	width: 7.563rem;
	height: 1.75rem;
}

.div4 {
	position: absolute;
	top: 47.938rem;
	left: 43.875rem;
	font-weight: 600;
	display: inline-block;
	width: 7.563rem;
	height: 1.75rem;
}

.div5 {
	position: absolute;
	top: 50.688rem;
	left: 43.875rem;
	font-weight: 600;
	display: inline-block;
	width: 7.563rem;
	height: 1.75rem;
}

.div6 {
	position: absolute;
	top: 53.5rem;
	left: 43.875rem;
	font-weight: 600;
	display: inline-block;
	width: 7.563rem;
	height: 1.75rem;
}

.div7 {
	position: absolute;
	top: 56.188rem;
	left: 43.875rem;
	font-weight: 600;
	display: inline-block;
	width: 7.563rem;
	height: 1.75rem;
}

.line-div {
	position: absolute;
	top: 29.844rem;
	left: 47.969rem;
	border-right: 1px solid #000;
	box-sizing: border-box;
	width: 0.063rem;
	height: 1.063rem;
}

.pgina-inicial {
	position: absolute;
	top: 16.875rem;
	left: 0rem;
	background-color: #a4dcb9;
	width: 22.5rem;
	height: 4.375rem;
	cursor: pointer;
	color: #195c71;
}

.wireframe-3-child16 {
	position: absolute;
	top: 0rem;
	left: 0rem;
	background-color: #32b9be;
	width: 120rem;
	height: 9.875rem;
}

.wireframe-3-child17 {
	position: absolute;
	top: 64.063rem;
	left: 56rem;
	border-radius: 10px 10px 0px 0px;
	background-color: #32b9be;
	width: 11.375rem;
	height: 3.125rem;
	cursor: pointer;
	border: none;
	color: #fffeea;
	font-size: larger;
}

.wireframe-3-child18 {
	position: absolute;
	top: 15.875rem;
	left: 42.5rem;
	border-radius: 16px;
	background-color: #32b9be;
	border: 3px solid #32b9be;
	box-sizing: border-box;
	width: 38.313rem;
	height: 2.75rem;
}

.wireframe-3-child19 {
	position: absolute;
	top: 15.875rem;
	left: 61rem;
	border-radius: 16px;
	background-color: #fffeea;
	border: 3px solid #32b9be;
	box-sizing: border-box;
	width: 19.813rem;
	height: 2.75rem;
}

.logo-mm-2 {
	position: absolute;
	top: -4.812rem;
	left: calc(50% - 168px);
	width: 18rem;
	height: 18rem;
	margin-top: 70px;
	object-fit: cover;
}

.wireframe-3-child22 {
	position: absolute;
	top: 11.625rem;
	left: 92.563rem;
	border-radius: 16px;
	background-color: #fffeea;
	border: 3px solid #a4dcb9;
	box-sizing: border-box;
	width: 26.875rem;
	height: 2.5rem;
}

.usurio-doutora-michele1 {
	position: absolute;
	top: 11.938rem;
	left: 94.563rem;
	font-size: 1.313rem;
	font-weight: 600;
	display: inline-block;
	width: 24.875rem;
	height: 1.438rem;
}

.voltar1 {
	position: absolute;
	top: 64.438rem;
	left: 58.813rem;
	font-size: 1.688rem;
	display: inline-block;
	color: #fffeea;
	width: 5.375rem;
	height: 2.375rem;
}

.cadastro1 {
	position: absolute;
	top: 16.125rem;
	left: 48.25rem;
	font-size: 1.688rem;
	font-weight: 600;
	display: inline-block;
	width: 10rem;
	height: 1.438rem;
	color: #195c71;
}

.cadastro1:hover {
	color: #fffeea;
	cursor: pointer;
}

.histrico3 {
	position: absolute;
	top: 16.125rem;
	left: 66.875rem;
	font-size: 1.688rem;
	font-weight: 600;
	display: inline-block;
	width: 10rem;
	height: 1.438rem;
}

.wireframe-3-child33 {
	position: absolute;
	top: 16.875rem;
	left: 0rem;
	background-color: #a4dcb9;
	width: 22.5rem;
	height: 4.375rem;
	cursor: pointer;
}

.triangulo-png-8 {
	position: absolute;
	top: 17.938rem;
	left: 0.125rem;
	width: 2.313rem;
	height: 2.313rem;
	object-fit: contain;
}

.pgina-inicial2 {
	position: absolute;
	top: 16.875rem;
	left: 0rem;
	background-color: #a4dcb9;
	width: 22.5rem;
	height: 4.375rem;
	cursor: pointer;
	color: #195c71;
	font-size: xx-large;
	border: none;
	font-weight: bolder;
}

.wireframe-3-child34 {
	position: absolute;
	top: 11.625rem;
	left: 0rem;
	background-color: #f9df94;
	width: 22.5rem;
	height: 4.375rem;
}

.consultas3 {
	position: absolute;
	top: 12.063rem;
	left: 1.063rem;
	font-size: 2.188rem;
	display: inline-block;
	width: 21.813rem;
	height: 3.938rem;
}

.triangulo-png-9 {
	position: absolute;
	top: 17.938rem;
	left: 1.188rem;
	width: 2.313rem;
	height: 2.313rem;
	object-fit: contain;
}



.TabelaConsultas {
	position: absolute;
	top: 330px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 30px 30px 30px 30px;
	background-color: #a4dcb9;
	border: 3px solid #195c71;
	color: #195c71;
	width: 47rem;
	height: 25rem;
	font-size: 1.1rem;
	text-align: center;
	overflow-y: auto;

}